/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc2a0;
  min-height: 100vh;
  padding: 40px;
}
.todos-card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
}

.heading {
  color: #ff8542;
  font-size: 50px;
}
